[Unit]
Description=Synchronize calendars and contacts
Documentation=https://vdirsyncer.readthedocs.org/

[Service]
Type=oneshot
ExecStart=/usr/bin/vdirsyncer sync
