[submodule ".vim"]
    path = .vim
    url = https://github.com/richiware/vim-conf.git
[submodule ".tmux/plugins/tmux-continuum"]
    path = .tmux/plugins/tmux-continuum
    url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-open"]
    path = .tmux/plugins/tmux-open
    url = https://github.com/tmux-plugins/tmux-open.git
[submodule ".tmux/plugins/tmux-resurrect"]
    path = .tmux/plugins/tmux-resurrect
    url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-scroll-copy-mode"]
    path = .tmux/plugins/tmux-scroll-copy-mode
    url = https://github.com/nhdaly/tmux-scroll-copy-mode.git
[submodule ".tmux/plugins/tmux-sensible"]
    path = .tmux/plugins/tmux-sensible
    url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-url-select"]
    path = .tmux/plugins/tmux-url-select
    url = https://github.com/dequis/tmux-url-select.git
[submodule ".tmux/plugins/tmux-urlview"]
    path = .tmux/plugins/tmux-urlview
    url = https://github.com/tmux-plugins/tmux-urlview.git
[submodule ".tmux/plugins/tpm"]
    path = .tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm.git
[submodule ".local/share/gnome-shell/extensions/gistnotes@mohan43u.gmail.com"]
    path = .local/share/gnome-shell/extensions/gistnotes@mohan43u.gmail.com
    url = https://github.com/mohan43u/gistnotes.git
[submodule ".local/share/gnome-shell/extensions/jenkins-indicator@philipphoffmann.de"]
    path = .local/share/gnome-shell/extensions/jenkins-indicator@philipphoffmann.de
    url = https://github.com/philipphoffmann/gnome3-jenkins-indicator.git
[submodule ".local/share/gnome-shell/extensions/vim-key-mapping@richiware.github.com"]
    path = .local/share/gnome-shell/extensions/vim-key-mapping@richiware.github.com
    url = https://github.com/richiware/gnome-shell-extension-vim-key-mapping.git
[submodule ".local/share/gnome-shell/extensions/timewarrior-indicator@natsakis.com"]
    path = .local/share/gnome-shell/extensions/timewarrior-indicator@natsakis.com
    url = https://github.com/tassos/timewarrior-indicator.git
[submodule ".local/share/gnome-shell/extensions/text_translator@awamper.gmail.com"]
    path = .local/share/gnome-shell/extensions/text_translator@awamper.gmail.com
    url = https://github.com/gufoe/text-translator.git
[submodule ".local/share/gnome-shell/extensions/relative-repos/taskwhisperer-extension@infinicode.de"]
    path = .local/share/gnome-shell/extensions/relative-repos/taskwhisperer-extension@infinicode.de
    url = https://github.com/cinatic/taskwhisperer.git
[submodule ".local/share/gnome-shell/extensions/relative-repos/gnome-shell-extension-mpris-indicator-button"]
    path = .local/share/gnome-shell/extensions/relative-repos/gnome-shell-extension-mpris-indicator-button
    url = https://github.com/JasonLG1979/gnome-shell-extension-mpris-indicator-button.git
[submodule ".config/zsh/custom/plugins/notify"]
    path = .config/zsh/custom/plugins/notify
    url = https://github.com/richiware/zsh-notify.git
[submodule ".config/zsh/custom/plugins/zsh-syntax-highlighting"]
    path = .config/zsh/custom/plugins/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh"]
    path = .oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".local/share/gnome-shell/extensions/relative-repos/gnome-shell-extension-openweather"]
    path = .local/share/gnome-shell/extensions/relative-repos/gnome-shell-extension-openweather
    url = https://gitlab.com/jenslody/gnome-shell-extension-openweather.git
[submodule ".local/share/gnome-shell/extensions/remove-dropdown-arrows@mpdeimos.com"]
    path = .local/share/gnome-shell/extensions/remove-dropdown-arrows@mpdeimos.com
    url = https://github.com/mpdeimos/gnome-shell-remove-dropdown-arrows.git
[submodule ".local/share/gnome-shell/extensions/gnome-stats-pro@thrallingpenguin.com"]
    path = .local/share/gnome-shell/extensions/gnome-stats-pro@thrallingpenguin.com
    url = https://github.com/tpenguin/gnome-stats-pro.git
[submodule ".config/zsh/custom/plugins/yadm"]
    path = .config/zsh/custom/plugins/yadm
    url = https://github.com/ZDTaylor/yadm-zsh.git
[submodule ".config/ranger/plugins/ranger_devicons"]
    path = .config/ranger/plugins/ranger_devicons
    url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/zsh/custom/plugins/zsh-autosuggestions"]
    path = .config/zsh/custom/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
